@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<MudGrid Justify="Justify.Center">
    <MudItem>
        <MudPaper Class="pa-4">
            <MudForm @ref="form">
                <MudTextField T="string" Label="Nombre" Required="true" RequiredError="Introduzca su Nombre" @bind-Value="InternalPatient.Name" />
                <MudTextField T="string" Label="Apellidos" Required="true" RequiredError="Introduzca su Apellidos" @bind-Value="InternalPatient.Surnames" />
                <MudTextField T="string" Label="DNI/NIE" Required="true" HelperText="Formato válido: 12345678A o X1234567L" 
                              RequiredError="Introduzca un DNI o NIE válido" MaxLength="9" 
                              Validation="@(new Func<string, string>(ValidateDniNie))" 
                              @bind-Value="InternalPatient.Dni" />
                <MudTextField T="string" Label="Teléfono" Required="true" RequiredError="Introduzca su Teléfono" MaxLength="9" 
                              Validation="@(new Func<string, string>(ValidatePhone))" 
                              @bind-Value="InternalPatient.Phone" />
                <MudTextField T="string" Label="Email" Required="true" RequiredError="Introduzca su Email" @bind-Value="InternalPatient.Email"
                              Validation="@(new EmailAddressAttribute() { ErrorMessage = "Email no válido" })" />
                <div class="d-flex align-center justify-space-between">
                    <MudCheckBox T="bool" Required="true" RequiredError="Debes de Aceptar las Condiciones de Uso"
                                 Label="Aceptas los términos de las Condiciones de Uso" />
                </div>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>
