@if (horasDisponibles is not null && horasDisponibles.Count > 0)
{
    <div>
        @foreach (var hora in horasDisponibles)
        {
            <MudButton OnClick="() => SeleccionarHora(hora)" 
                       Class="m-2"
                       Color="@(hora == internalHoraSeleccionada ? Color.Primary : Color.Default)">
                @hora.StartTime.ToString("hh\\:mm") -  @hora.EndTime.ToString("hh\\:mm")
            </MudButton>
        }
    </div>
}else{
    <p>Cargando Citas...</p>
}
